<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fabricioflores.twitterclient" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2ad23aaf70c13b0ded4e0dfeb88bc9c29d49e969" />
        <provider android:name="com.example.fabricioflores.twitterclient.providers.TweetsProvider"
            android:authorities="com.fabricioflores.tweetProvider"
            android:exported="true">
        </provider>
        <provider android:name="com.example.fabricioflores.twitterclient.providers.QueriesProvider"
            android:authorities="com.fabricioflores.queryProvider"
            android:exported="true">
        </provider>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
